body{
    background: #777;
}

.container{
    width:495px;
    margin:0 auto;
    text-align: center;
}

.segment-specs {
    background-color:#ebebeb;
    color:#777;
    padding:10px 20px 10px 20px;
    text-align:center;
    margin:5px;
}

section{
    
    color:#777;
    padding:0px 20px 40px 10px;
    
}
#section2{
    background-color: #ebebeb;
    color: #777;
    padding: 0px 20px 27px 20px;
    width: 44%;
    position: relative;
    left: 5px;
    float:left;
}

#article{
    background-color:#777;
    color:#ebebeb;
    padding: 10px 20px 10px 20px;
}

aside{
    background-color: #ebebeb;
    color: #777;
    float:right;
    padding-bottom:199px;
    width: 44%; 
    position: relative;
    right: 6px;
}

#headers{
    background-color:#ebebeb;
    color:#777;
    padding:10px 20px 10px 20px;
}
#p{
    background-color:#ebebeb;
    color:#777;
    padding:10px 20px 10px 20px;
}

#footer{
margin-top: 231px;
}