
body{
    width: 495px;
    text-align:center;
    display:inline-block;
    background: #777;
}

#section2{
    background:#ebebeb;
    float:left;
    padding:20px;
    width:40%;
    margin-top:5px;
}

nav{
    background:#ebebeb;
    padding:5px;
    margin-top:5px;
   
}

aside{
    background: #ebebeb;
    float: right;
    width: 40%;
    padding: 20px;
    padding-bottom: 197px;
    margin-top: 5px;
}

header{
    background:#ebebeb;
    padding:10px;
}

article{
    padding-bottom:30px;
    background:#777;
    padding-top:10px;
    color: #ebebeb;
    
}


#headers{
    background:#ebebeb;
    display:inline-block;
    margin:10px;
    width:60%;
    padding:10px;
    color:#777;

}

#p{
    background:#ebebeb;
    display:inline-block;
    margin:10px;
    width:60%;
    padding:10px;
    color:#777;
    
}

footer{
    background:#ebebeb;
    display:inline-block;
    width:495px;
    padding:10px;
    margin-top:5px;
}